.footer{
    background-color: #000000;
    padding-bottom: 30px;
    &__container{
        text-align: center;
    }
    &__text{
        @include fontSettings($line-height: 28px, $text-color: $footer-text-color)
    }
    &__social-media-list{
        @include flex;
        gap: 5px;
        margin: 35px 0;
    }
    &__contact-info{
        @include fontSettings($line-height: 26px, $text-color: $footer-text-color)

    }
}

